.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    z-index: 100;
}
.leftsection{
    
    
    display: flex;
    align-items: center;
    
}
.hamburgermenu{
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtubelogo{
    height: 20px;

}
.middlesection{
    
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    

}
.search{
    height: 39px;
    width: 60px;
    border-start-end-radius: 2px;
    border-width: 1px;
    b
    margin-right: 20px;
    
}

.voicesearch{
    width: 40px;
    height: 40px;
    border-radius: 90px;
    border:none;
    margin-left: 10px;

    
}
.searchbar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-start-start-radius: 2px;
    box-shadow: inset 1px 2px 5px 
    rgba(0,0,0,0.05);
    border-color: lightgrey;
    width: 0;

}
.searchbar::placeholder{
    font-family: arial;
    font-size: 16px;
    
}
.searchicon{
    height: 25px;
    margin-top: 4px;
   
}
.rightsection{
    margin-right: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    
}
.upload-icon {
    height: 24px;
}
.youtube-apps-icon {
    height: 24px;
}
.notifications-icon {
    height: 24px;
}
.notifications-icon-container {
    position: relative;
}
.notifications-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(204, 14, 14);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.current-user-picture {
    height: 32px;
    border-radius: 16px;
}

.notifications-count {
  transition: all 0.3s ease;
}
