
            
            
                
                
                
            
            .thumbnail {
               
                width: 100%;
                object-fit: cover ;
                object-position: center;
                
                
            }
            
            .title{
                font-weight: bold;
                width: 245px;
                margin-top: 0;
                margin-bottom: 12px;
                
            }
            .videoauthor{
                color: rgb(96, 96, 96) ;
                margin-top: 0;
                margin-bottom: 10px;
            }
            
            .videostats{
                
                color: grey;
                margin-top: -10px;
            }
            
            
                

                
            
            .div2{
                display: inline-block;
                vertical-align: top;
                
                

                
                
            }
            .pfp{
                
                width: 40px;
                vertical-align: top;
                border-radius: 90px;
                
                
            }
            
            .error{
                display: inline-block;
                width: 245px;
                
                
                
                
            }
            .firstvideothumbnail{    
                margin-bottom: 12px;
                position: relative;
            }
            .pfp-div{
                display: grid;
                grid-template-columns: 50px 1fr;
                
            }
            .videogrid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
            }
            .video-time{
                font-family: Arial, Helvetica, sans-serif;
               background-color: black;
               color: white;
               position:absolute;
               bottom: 8px;
               right: 5px;
               font-size: 12px;
               font-weight: 500;
               padding-left: 4px;
               padding-right: 4px;
               padding-top: 4px;
               padding-bottom: 4px;
               border-radius: 2px;


            }
        


/* clickable video links */
.video-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.video-link:hover .title {
  text-decoration: underline;
  cursor: pointer;
}

.thumbnail {
  cursor: pointer;
}
